/* --------------------------
  Navbar (nb) Flex Container
--------------------------- */
.l-nb-fc {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.l-nb-start {
  align-self: flex-start;
}


/* --------------------------
  Media Gallery
--------------------------- */
.l-m-fc-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 100%;
}