/* --------------------------
  Basic Flex Container Styles
--------------------------- */
.l-fc {
  display: flex;
  flex-wrap: wrap;
}

.l-fc-col {
  display: flex;
  flex-direction: column;
}

/* --------------------------
  Navbar (nb) Flex Container
--------------------------- */
.l-nb  a {
  text-decoration: none;
  position: relative;
}

.l-nb-baseline {
  align-self: baseline;
}
.l-nb-end {
  align-self: flex-end;
}


/* --------------------------
  Media Gallery
--------------------------- */
.l-mg-row a img {
width: 100%;
}

.l-mg-item {
  position: relative;
  overflow: hidden;
  display: flex;
	flex-direction: column;
	justify-content: center;
  margin-bottom: 1.875rem;
}


@media screen and (min-width: 768px){
    .l-mg-row {
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
    }
    .l-mg-item {
      flex: 1 2 auto;
      margin-bottom: 1.875rem;
    }
    .l-mg-item:nth-child(odd) {
    margin-right: .9375rem;
    }
    .l-mg-item:nth-child(even) {
    margin-left: .9375rem;
    }
  }

  @media screen and (min-width: 968px){
      .l-mg-item {
      width: 45%;
      max-width: 1300px;
      }
  }

/* --------------------------
  About Page (ap) Info Grid and Flex
--------------------------- */
.l-ap-gc {
  display: grid;
  grid-template-columns: 1fr [h] 80% 1fr;
  grid-template-rows: [p] auto auto;
  grid-template-areas: 
  ". h ."
  ". p .";
  grid-column-gap: 0px;
  grid-row-gap: 18px;
}

.l-ap-gi-h {
  grid-area: h;
}
.l-ap-gi-p {
  grid-area: p;
  align-self: center;
}

/* --------------------------
  About Page Icon Nav (ic) Flex
--------------------------- */
.l-ic-end {
  display:flex;
  flex-direction: row;
  justify-content: flex-end
}
.l-ic-col {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}


